
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'poppins', sans-serif;
  scroll-behavior: smooth;
}
header{
position: fixed;
top: 0%;
left: 0%;
padding: 20px 10px;
width: 100%;
z-index: 1;
display: flex;
justify-content: space-evenly;
align-items: center;
transition: 0.5s;
background-color: white;
}
.logo{
color: rgb(49, 45, 45);
font-weight: bold;
font-size: 2em;
text-decoration: none;
}
.logo span{
color: rgb(169,235,16);
}

.navbar{
display: flex;
position: relative;
}
.navbar li{
list-style: none;
}
.navbar a{
color: rgb(48, 48, 48);
text-decoration: none;
margin-left: 30px;
font-weight: 700;
}
.navbar li .dropdown {

position: absolute;
padding: 25px 0px ;
background-color: #fff;

width: 35%;
z-index: 1;
align-content: center;
margin-top: 10px;
display: none;

}
.navbar li .dropdown li {
margin: 10px 0 20px;



text-decoration: none;
}
.navbar li .dropdown li a{
 color:#333;
 border-bottom : 1px solid  rgb(169,235,16);
 width: 100%;
 padding-bottom: 10px;

}
.navbar li:hover .dropdown{
display: block;
} 

.btn-reserve{
padding: 10px 20px;
background:rgb(169,235,16);
margin-top: -10px;
text-transform:uppercase ;
}

.btn-reserve:hover{
background: rgb(169,235,16);
transition: ease-out;
}

header .navbar li a:hover{
color: rgb(169,235,16);
border-bottom: 2px solid rgb(169,235,16);
}
header.sticky{
background: #fff;
padding: 10px 10px;
box-shadow: 0px 5px 20px rgba(0,0,0, 0.05);
}

header.sticky .logo{
color: #000;
}

header.sticky .navbar li a {
color: #000;
}
header.sticky .navbar li .dropdown li a{
color: rgb(169,235,16);
}

header.sticky li a:hover{
color: rgb(169,235,16);
border-bottom: 2px solid rgb(169,235,16);
}

.cart1 img{
  font-size: .875em;
  font-family: Roboto
  }
  .produit-img{
  padding-top: 117px;
  padding-left: 50px;
  width: 400px;
  
  }
  .top{
    margin-top: -350px;
  }
  .smart {
    position: relative;
    margin-bottom: 500px;
      margin-left: 35%;
    
  }    
  .price{
    position: relative;
    bottom: 520px;
      margin-left: 35%;
      font-size: 25px;
      font-weight: bold;
      padding-top: 30px;
      color: rgb(169,235,16);
    
    }
    .price h5 {
      text-decoration: line-through;
    }
    .price em {
      text-decoration: line-through;
    }
    .price1{
    position: relative;
    bottom: 530px;
      margin-left: 35%;
      font-size: 25px;
      font-weight: bold;
      padding-top: 30px;
      color: rgb(169,235,16);
    }
    .smart hr{
    width: 100px;
    height: 7px;
    display: inline-block;
    border-radius: 50px 50px 50px 50px;
    background-color: black;
    
    
    }
    .item {
      position: relative;
      bottom: 540px;
      width: 60%;
        margin-left: 35%;
        font-size: 12px;
      padding-top: 30px;
      }
      .item p{
      padding-top: 20px;
      position: absolute;
      margin-left: 20px;
      }
      .dispo{
        margin-top: 55px;
        margin-left: 35%;
      }
      .dispo ul li{
        position: relative;
          bottom: 350px;
         
       list-style: none;
       background: url('https://www.icone-png.com/png/29/29380.png') left center
       no-repeat;
       background-size: 18px;
       font-weight: 600;
       padding-left: 1.7rem ;
       margin: 0.4rem 0;
       opacity: 0.9;
      }
      .dispo  ul li span{
        font-weight: 400;
      }
      .purchase {
        margin: 1.5rem 0 ;
        position: relative;
        bottom: 350px;
          margin-left: 35%;
      
      }
      
      .purchase .btn{
        border: 10px solid white;
        border-radius: 25px;
        text-align: center;
        padding: 0.45rem 0.8rem;
      outline: 0;
      margin-right: 0.2rem;
      margin-bottom:1rem;
      font-size: 20px;
      }
      .purchase input{
        width: 200px;
        border-color: black;
        text-align: center;
      }
      .purchase .btn{
        cursor: pointer;
        color: white;
      }
      .purchase .btn:first-of-type{
        background-color: rgb(169,235,16);
        position: absolute;
        left:200px;
      
      
      }
      .purchase img{
        height: 15px;
      }
      .purchase .btn:last-of-type{
        background-color: black;
        position: absolute;
        left:370px;
      
      }
      .purchase .btn:hover{
      opacity: 0.9;
      }
    
    footer{
        background-color:#fff;
        margin-top: -180px;
        border-top: 1px solid black;
    }
    .footer{
        display: flex;
        justify-content: space-around;
        
    
        text-align: center;
        max-width: 100%;
        padding: 10px 25px 0;
        border-bottom: 1px solid black;
    }
    
    .cont{
        flex-basis: 30%;
        width: 30%;
        padding-left: 20px;
    }
    .feedbak{
        flex-basis: 30%;
        width: 30%;
        padding-left: 20px;
    
    }
    .aboutus{
        flex-basis: 30%;
        text-align: justify;
        padding-left: 28px;
        width: 30%;
        padding-right: 40px;
        
    }
    .aboutus h1, .feedback h1 , .cont h1{
      
        font-size: 33px;
        font-weight: bold;
        padding: 15px 5px 20px 0px;
        border-bottom: 2px solid rgb(231, 231, 74);
        margin-bottom: 15px;
        width: 400px;
       
      
    }
    .aboutus p span{
    color: rgba(37, 43, 34, 0.836);
    }
    .aboutus .p{
        font-weight: bolder;
        padding-bottom: 7px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
        font-size: 15px;
    
    
    }
    .aboutus ul{
        list-style-type: none;
        margin: 5px 26px 10px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: italic;
    }
    .aboutus .adresse{
        font-size: 18px;
        margin-bottom: 20px;
    }
    .cont p{
        text-align:justify ;
        padding-bottom: 15px;
        font-size: 25px;
        margin-left: 30px;
        width: 100%;
    }
    
    
    
    .copy{
        text-align: center;
        margin: 0 20px;
        padding: 10px;
    }
      